{% extends 'base.html' %}

{% block content%}
    <h1>데이터 던지는 곳</h1>
    {# method 는 기본적으로 GET 이다. #}
    {# action에는 상대/절대 경로를 모두 쓸 수 있다. #}
    {# action에 경로를 쓰면 현재 페이지에서 입력한 data를 해당 경로로 보내준다. = views에 정의된 catch 함수를 호출한다.#}
    <form action="{% url 'catch' %}">
        <label for="username">Name</label>
        {# name : value 형태로 묶어서 보내줄거임 #}
        {# url에 /throw/?username=장미림 의 형태#}
        <input type="text" id="username" name="username">
        {# 버튼 type = submit #}
        <input type="submit">
    </form>
{% endblock content %}